@charset "UTF-8";

.listgroup {
    position: relative;
    overflow: hidden;
    &:after {
        @include line-buttom;
    }
    dt {
        font-size: 14px;
        color: #999;
        position: relative;
        overflow: hidden;
        padding: 5px 10px;
        &:after {
            @include line-buttom;
        }
    }
    dd {
        position: relative;
        overflow: hidden;
        background: white;
        &:after {
            content: " ";
            position: absolute;
            left: 10px;
            bottom: 0;
            right: 0;
            height: 1px;
            border-bottom: 1px solid #E5E5E5;
            color: #E5E5E5;
            -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }

        a {
            display: flex;
            padding: 10px;
            align-items: center;
            &:active {
                background: #f3f3f3;
            }
        }
        .title {
            flex: 1;
        }

    }
}