@charset "UTF-8";

.w-cells {
    background-color: #FFFFFF;
    line-height: 1.41176471;
    font-size: 17px;
    overflow: hidden;
    position: relative;
    &:after {
        @include line-buttom;
    }
    .cell-list {
        padding: 10px 15px;
        position: relative;
        display: flex;
        align-items: center;
        &:before {
            @include line-top;
        }
    }
    .cell-header {
        width: 120px;
    }
    .cell-body {
        flex: 1;
    }
    .cell-footer {
        .icon {
            width: 1.5em;
            height: 1.5em;
        }
    }
    .mint-switch-input:checked + .mint-switch-core {
        border-color: $main-color;
        background-color: $main-color;
    }
}

a.cell-list {
    &:active {
        background-color: #fafafa;
    }
}