@charset "UTF-8";

.tabbar {
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    font-size: 13px;
    background: #fff;
    bottom: 0;
    &:after {
        @include line-top;
    }

    .tab-item {
        flex: 1;
        padding: 7px 0;
        &:active {
            background-color: #fafafa;
        }
        &.router-link-active {
            background-color: #fbfbfb;
        }
    }
    .item-icon {
        font-size: 12px;
        padding: 3px 0;
    }
    .item-label {
        font-size: 12px;
        line-height: 1;
    }
}